.mail-details {
    grid-area: 1/2/-1/3;
    background-color: #fff;
    border-radius: 16px;
    padding: 1rem 1.5rem;

    overflow: hidden hidden;
}

.mail-details .actions {
    gap: 0.5rem;
    margin-block: 1rem;
}

.mail-details .actions button {
    background: none;
    border: none;
    font-size: 1rem;
}

.mail-details h2 {
    margin-bottom: 0.7rem;
}

.mail-details .sender {
    margin-block: 0.7rem;
}

.mail-details .body {
    margin-bottom: 1rem;
}