.mail-filter{
    grid-area: filter;
    background-color: #fff;
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
    text-align: center;

    height: 3rem;
    gap: 3rem;
    justify-content:center;
    align-items: center;
}

.mail-filter button:first-child{
    margin-inline-start: 0.7rem;
}