:root {
    --main-bg-color: #F6F8FC;
    --bg-color: #ffffff;
    --pinned-color: brown;

    --read-bg-color:  #f2f6fc;
    --border-color: #80808052;
    --note-border-color: #E0E0E0;
    --note-text-color: #757575;
}