.add-note-container {
    display: grid;
    place-items: center;
    width: 70%;
    margin: 15px auto 25px auto;
}

.add-note {
    position: relative;
    width: 100%;
    display: grid;
    /* grid-template-rows: 2.75rem minmax(2.75rem, auto) 2.75rem; */
    place-items: center;
    /* border: 1px solid #e0e0e0; */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 0.4s;
}

.add-note-bar {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4.5fr 0.5fr 0.5fr;
    min-height: 46px;    
}

.add-note-bar h2 {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(87, 87, 87);
    padding: 0.75rem 1rem; 
}

.add-note-bar i {
    font-size: 1.25rem;
    color: rgb(87, 87, 87);
    padding: 0.75rem 1rem;
}

.add-note input,
.add-note textarea {
    font-size: 1.1rem;
    width: 100%;
    border: none;
    min-height: 44px;
    border-radius: 6px;
    outline: none;
    display: flex;
    background-color: inherit;
    padding: 0.75rem 1rem; 
}

.add-note .title {
    font-size: 1.2rem;
}

.add-note .note-text {
    font-size: 0.875rem;
}

.add-note .actions-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    width: 100%;
}

.add-note .actions-container i{
  padding: 1rem;
  color: inherit;
  cursor: pointer;
}

.add-note button {
    place-self: center;
    background: transparent;
    border: none;
    cursor: pointer;
    justify-self: end;
    padding-inline: 2rem;
    min-height: 44px;
    font-size: 0.9rem;
}

.add-note-bar input.hidden  {
    display: none;
}

.add-note-bar i, label {
    cursor: pointer;
}

.add-note .actions-container .active {
    color: var(--note-form-active);
}

.add-note .todo-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.add-note .add-todo {
    place-self: start;
    transition: scale 0.3s;
}

.add-note .add-todo:hover {
    scale: 1.2;
}

