.edit-note-modal {
    height: 90vh;
    width: 50vw;
    padding: 5px;
    background-color: #fff;
}

.edit-note-modal{
    overflow:scroll;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--backdrop-color);
    display: grid;
    place-items: center;
}