.note-card {
    position: relative;
    border: 1px solid var(--note-border-color);
    border-radius: 1rem;
    break-inside: avoid-column;
    margin-block-end: 1rem;
    width: 15rem;
    color: var(--note-text-color);
    transition: box-shadow 0.3s;
}

.note-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.note-preview {
   
}

.note-preview :first-child {
    top: 0;
}

.note-preview img {
    padding: 0.2rem;
    border-radius: 1rem;
}

.note-preview h2 {
    padding: 0.8rem 1rem 0;
    font-size: 1rem;
}

.note-preview p {
    margin: 0;
    padding: 0.8rem 1rem;
    font-size: 0.875rem;
}

.note-preview .note-todos-list {
    padding: 0.8rem 1rem;
    font-size: 0.875rem;
}

.note-actions {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    transition: opacity 0.4s;
}

.note-actions li {
    height: 34px;
    width: 34px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.note-actions i {
    font-size: 1rem;
}

.note-actions:hover {
    opacity: 1;
}