.mail-index{
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: 100%;

    grid-template-areas: 
    "sidebar filter ."
    "sidebar mails ."
    ;

    grid-template-rows: 3rem calc(100vh - 7rem);
    /* grid-template-rows: ; */
}


.action-btn{
    background: none;
    border: none;
    font-size: 1rem;
}