.mail-index{
    background-color: var(--main-bg-color);
    margin-bottom: 1rem;
    height: 100%;

    grid-template-areas: 
    "sidebar filter ."
    "sidebar mails ."
    ;

    grid-template-rows: 3rem calc(100vh - 7rem);
}


.action-btn{
    background: none;
    border: none;
    font-size: 1rem;
}

.pill-btn{
    border-radius: 3em;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    background: #fff;
    margin-block: 0.3rem;
    margin-inline-end: 0.7rem;
}

.pill-btn:hover{
    background-color: #eee;
}