.mail-compose{
    grid-area: 1/2/-1/3;
}

.mail-compose form{
    gap: 1rem;
    margin-top: 1rem;
    
}

input, textarea{
    font-family: Roboto;
    font-size: 0.875rem;
    padding: 0.3rem;

    border: none;
    border-radius: 6px;

    transition: box-shadow 300ms;
}

textarea{
    height: 60vh;
}

input:focus, textarea:focus{
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.mail-compose .fa-regular.fa-note-sticky{
    color: inherit;
}

.mail-compose div{
    margin-inline-start: 0.5rem;
}