#root,
.app {
    height: 100vh;
}

.main-layout {
    grid-template-columns: var(--sideBarWidth) minmax(80vw, 1fr) minmax(5px, 3rem);

}

.main-layout{
        transition: grid-template-columns 300ms;

}

.app.main-layout{
    grid-template-rows: 5.5rem calc(100vh - 5.5rem);
}


.full {
    grid-column: 1 / -1;
}

.main-content {
    grid-template-areas:
        ".       .       ."
        "sidebar content ."
    ;
    height: 100%;
    padding-bottom: 1rem;
}