.notes-list-layout {
    display: grid;
}

.note-layout {
    display: grid;
}

.main-notes-layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column: 1 /-1;
}

.main-notes-layout .note-header {
    grid-column: 1 /-1
}

.main-notes-layout .note-content{
    grid-column: 2
}

.main-notes-layout .sidebar {
    grid-column: 1;
}

.note-content .content-layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(0.5rem, 1fr) auto minmax(0.5rem, 1fr);
}

.note-content .content-layout >* {
    grid-column: 2;
}

