.notes-list-layout {
    columns: 15rem;
    column-gap: 0.6rem;
}

.note-layout {
    display: grid;
}

.main-notes-layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column: 1 /-1;
}

.main-notes-layout .note-header {
    grid-column: 1 /-1
}

.main-notes-layout .note-content{
    grid-column: 2
}

.main-notes-layout .sidebar {
    grid-column: 1;
}

.note-content .content-layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(1rem, 1fr) 77.4rem minmax(1rem, 1fr);
}

.note-content .content-layout >* {
    grid-column: 2;
}

@media (min-width: 1550px) {
    .note-content .content-layout {
        grid-template-columns: minmax(1rem, 1fr) 77.4rem minmax(1rem, 1fr);
    }    
}

@media (max-width: 1550px) {
    .note-content .content-layout {
        grid-template-columns: minmax(1rem, 1fr) 62.4rem minmax(1rem, 1fr);
    }  
 
}

@media (max-width: 1310px) {
    .note-content .content-layout {
        grid-template-columns: minmax(3rem, 1fr) 47.4rem minmax(3rem, 1fr);
    }  
   
}

/* @media (max-width: 1310px) {
    .note-content .content-layout {
        grid-template-columns: minmax(3rem, 1fr) 32.4rem minmax(3rem, 1fr);
    }  
   
} */