.app-header {
    height: 4rem;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr max-content max-content;
    border-block-end: 1px solid var(--border-color);
    padding: 0.5rem;
}

.app-header>i, .app-header>button>i{
    color: var(--mail-main-color);
}

.app-header svg{
    fill: var(--mail-main-color);
}

.app-header div {
    height: 100%;
}

.app-header img {
    max-height: 2.7rem;
}

.app-header h3{
    display: grid;
    place-content: center;
    font-size: 1.375rem;
    margin-inline-start: 0.8rem;
    font-family: Product sans;
    color: var(--mail-main-color);
}

.app-header i {
    height: 3.0003rem;
    width: 3.0003rem;
    display: grid;
    place-content: center;
    font-size: 1.2rem;
}

.app-header .search-container {
    position: relative;
    width: 50vw;
    height: 100%;
    justify-self: center;
}

.app-header .search {
    width: 50vw;
    height: 100%;
    background-color: var(--mail-search-bcg);
    border: none;
    padding-inline: 1.5rem;
    font-size: 1rem;
    border-radius: 0.60rem;
    outline: none;
}

.app-header .search-container button{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 0;
    height: 3rem;
    width: 3rem;
    font-size: 1rem;
    z-index: 10;
    cursor: pointer;
}

.app-header .search:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--bg-color);
}

.app-header .search:focus +  button {
   display: inline;
}

.app-header svg {
   height: 1.5rem;
   align-self: center;
   
}

.app-header .svg-container{
    position: relative;
    display: grid;
    place-items: center;
    height: 3.0003rem;
    width: 3.0003rem;
}

.app-header button{
    background: none;
    border: none;
    padding: 0;
}


.home .menu-nav-content{
    grid-template-areas: 
    ". ."
    ". ."
    ;
    width: 100vw;
    height: 80vh;

    font-size: 4rem;
    align-items: center;
    justify-items: center;
}

.home .menu-nav-content a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width:90%;
    height: 90%;

    background-color: var(--main-bg-color);
    border-radius: 20px;
    border: 4px solid var(--nav-menu-border);
}

.home .menu-nav-content *:not(i){
    color: var(--mail-main-color) ;
}
