.app-header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header .header-content{
    grid-column: 2/3;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}