.app-header {
    background: var(--main-bg-color);
    padding-block: 0.7rem;
    /* border-bottom: 2px solid white; */
}

.app-header .header-logo{
    grid-column: 1/2;
}

.app-header .header-logo div{
    align-items: center;
    gap: 1rem;

    padding: 0.5rem;

}

.app-header img.logo{
    height: 3rem;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}